body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
}

h3{
    padding: 20px 0;
    margin-top: 20px;
    height: auto;
    border: 5px solid black;
    border-radius: 50px;
    background-color: white;
    text-align: center;
}

.info-container{
    padding: 20px 10px;
    margin-top: 20px;
    height: auto;
    border: 5px solid black;
    border-radius: 50px;
    background-color: white;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
}

.info-container button img{
    width: 10px;
}

a {
    font-size: 18px;
    color: rgb(158, 55, 55);
}

select{
    margin-top: 20px;
    margin-bottom: 20px;
}

button {
    text-transform: uppercase;
    box-shadow: 0 3px 0 #000000;
    background-color: #B22222;
    color: white;
    border: 2px solid darkred;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:active {
    box-shadow: none;
    transform: translateY(5px);
}